.wrapper {
    width:90%;
    padding:0 5%;
    margin:0 auto;
}

.wrapper div[data-cardStatus="notShown"] {

}

.flipContainer {
  perspective: 1000;
  float:left;
  width:30%;
  margin:40px 0 0 3%;
  text-align:center;
}

  .flipContainer:hover .flipper, .flipContainer.hover .flipper {
    -webkit-transform: rotateY(180deg);
  }

.flipContainer, .front, .back {
  height: 50px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  border:1px solid black;
  border-radius:5px;
  width:100%;
  left: 0;
  padding:30px 0 0 0;
}

.front {
  z-index: 2;
  background-color:#fdfdfd;
}

.back {
  -webkit-transform: rotateY(180deg);
}

.heart {
    background:url('../img/suitSprite.png') 10px -65px no-repeat transparent;
}

.diamond {
    background:url('../img/suitSprite.png') 10px -244px no-repeat transparent;
}

.club {
    background:url('../img/suitSprite.png') 10px 10px no-repeat transparent;
}

.spade {
    background:url('../img/suitSprite.png') 10px -147px no-repeat transparent;
}